:root{
  --PrimaryColour: #3d97cc; /*CYAN*/
  --PrimaryTextColour: white;
}

.rowPage{
  display: flex;
}

body{
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial;
}

.columnOne{
  flex:30%;
  background-color: var(--PrimaryColour);
  height: 100vh;
  position: fixed;
  overflow: hidden;
}
.columnTwo{
  padding-left: 43vh;
  height: 100vh;
  padding-right: 2vh;
  padding-top: 2vh;
  width:100%;
}

.positionMenu{
  width: 30vh;
  margin: 5vh;
  position: relative;
}

.Title{
  font-size: 30px;
  font-weight: bold;
  color: var(--PrimaryTextColour);
  padding-bottom: 8px;
}
.SubTitle{
  font-size: 25px;
  color: var(--PrimaryTextColour);
  padding-bottom: 5vh;
}

.vertical-menu {
  /* width: 300px; */
  position: relative;
  top:52vh;
  font-size: 20px;
}

.vertical-menu a {
  background-color: var(--PrimaryColour);
  color: var(--PrimaryTextColour);
  display: block;
  padding: 4px;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
}

.vertical-menu a:hover {
  text-decoration: underline;
}

.vertical-menu a.active {
  font-weight: bold;
}
