.rowPage{
  display: flex;
}

body{
  margin: 0 !important;
  padding: 0 !important;
}

.columnOne{
  flex:30%;
  background-color: #EEE;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}
.columnTwo{
  flex:70%;
  height: 100vh;
}

.positionMenu{
  width: 30vh;
  margin: 10px;
  position: relative;
}

.vertical-menu {
  /* width: 300px; */
  position: relative;
  top:70vh;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  text-align: left;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
