:root{
  --PrimaryColour: #3d97cc; /*CYAN*/
  --PrimaryTextColour: white;
}

.rowPage{
  display: flex;
}

body{
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial;
}

.columnOne{
  flex:30%;
  background-color: var(--PrimaryColour);
  height: 100vh;
  position: fixed;
  overflow: hidden;
}
.columnTwo{
  padding-left: 43vh;
  height: 100vh;
  padding-right: 2vh;
  padding-top: 2vh;
  width:100%;
}

.positionMenu{
  width: 30vh;
  margin: 5vh;
  position: relative;
}

.Title{
  font-size: 30px;
  font-weight: bold;
  color: var(--PrimaryTextColour);
  padding-bottom: 8px;
}
.SubTitle{
  font-size: 25px;
  color: var(--PrimaryTextColour);
  padding-bottom: 5vh;
}

.vertical-menu {
  /* width: 300px; */
  position: relative;
  top:52vh;
  font-size: 20px;
}

.vertical-menu a {
  background-color: var(--PrimaryColour);
  color: var(--PrimaryTextColour);
  display: block;
  padding: 4px;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
}

.vertical-menu a:hover {
  text-decoration: underline;
}

.vertical-menu a.active {
  font-weight: bold;
}

@media only screen and (max-width: 850px) {
  .columnOne{
    display:none;
}
.rowPage{
  display: none;
}

.vertical-menu {
  display:none;
}

.vertical-menu a {
  display:none;
}

.columnTwoMobile{
  display: block;
  padding-left: 0px;
  height: 100vh;
  padding-right: 0px;
  padding-top: 0px;
  width:100%;
}

.ulMobile {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--PrimaryColour);
}

.liMobile {
  float: left;
}

.liMobile a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.liMobile a:hover {
  color:#DDD;
}

}
