:root{
  --PrimaryColour: #555555; /*CYAN*/
  --PrimaryTextColour: white;
}
.columnOne{
  flex:30%;
  background-color: var(--PrimaryColour);
  height: 100vh;
  position: fixed;
  overflow: hidden;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  width: 100%;
}
.grid-item {
  border: 1px solid black;
  font-size: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 40vh;
}

.columnTwo{
  padding-left: 40vh;
  height: 100vh;
  padding-right: 0px;
  padding-top: 0px;
  width:100%;
}

a:hover{
  opacity: 0.6;
}
